*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#0F172A;
    color:white;
    min-height:100vh;
}

#telaInicial{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

#telaInicial h1{
    font-size:3rem;
    margin-bottom:20px;
}

#telaInicial p{
    max-width:600px;
    margin-bottom:30px;
    font-size:1.2rem;
}

#btnIniciar{
    background:#F97316;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
    transition:0.3s;
}

#btnIniciar:hover{
    transform:scale(1.05);
}

header{
    text-align:center;
    padding:20px;
}

.painel{
    width:90%;
    max-width:1000px;
    margin:auto;
}

.indicador{
    background:white;
    color:#0F172A;
    margin:15px 0;
    padding:15px;
    border-radius:12px;
    transition:0.3s;
}

.indicador:hover{
    transform:translateY(-5px);
}
}

.barra{
    width:100%;
    height:25px;
    background:#d9d9d9;
    border-radius:20px;
    overflow:hidden;
    margin-top:10px;
}

#agua{
    width:100%;
    height:100%;
    background:#38BDF8;
    transition: 0.8s;
}

#ambiente{
    width:100%;
    height:100%;
    background:#22C55E;
    transition: 0.8s;
}

#producao{
    width:100%;
    height:100%;
    background:#F97316;
    transition: 0.8s;
}

#dinheiro{
    width:100%;
    height:100%;
    background:#EAB308;
    transition: 0.8s;
}

#evento{
    width:90%;
    max-width:800px;
    margin:30px auto;
    text-align:center;
}

#pergunta{
    margin-bottom:25px;
}

#opcao1,
#opcao2{
    width:100%;
    padding:15px;
    margin:10px 0;
    border:none;
    border-radius:10px;
    background:#F97316;
    color:white;
    cursor:pointer;
    font-size:16px;
}

#opcao1:hover,
#opcao2:hover{
    opacity:0.9;
}

@media(max-width:768px){

    #telaInicial h1{
        font-size:2rem;
    }

}
